{
  "type": "column",
  "children": [
    {
      "type": "container",
      "child": {
        "type": "text",
        "args": {
          "text": "Welcome to the Home Screen, {{ name }}!"
        }
      }
    },
    {
      "type": "container",
      "decoration": {
        "color": "{{ favorite_color }}"
      },
      "child": {
        "type": "text",
        "args": {
          "text": "Your role is: {{ role }}"
        }
      }
    }
  ]
}
