{
  "type": "column",
  "children": [
    {
      "type": "container",
      "child": {
        "type": "text",
        "args": {
          "text": "Offer List for {{ name }}"
        }
      }
    },
    {
      "type": "list_view",
      "args": {
        "children": [
          {
            "type": "text",
            "args": { "text": "Special Offer 1" }
          },
          {
            "type": "text",
            "args": { "text": "Special Offer 2" }
          },
          {
            "type": "text",
            "args": { "text": "Special Offer 3" }
          }
        ]
      }
    }
  ]
}
